.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task {
    margin: 1em;
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}